@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
font-family: "Red Hat Mono", serif;
font-style: normal;    
width: 100%;
flex-wrap: wrap;
}

.header {
  padding: 10px;
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  width: 100%;
  flex-wrap: wrap;

}
.header-content {
  display: flex;
  flex-direction: column;
  left: 0;
  margin-right: 10vw;
}

.header img {
  width: 80px;
}

.header h1, .header p {
color: #ffffff;
margin: 0;
}

.nav_Moriah {
  position: relative;  /* Asegura que el z-index funcione */
  z-index: 9999;  /* El número más alto para asegurarse de que esté en la parte superior */
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 50px;
  transition: all 0.3s ease-in-out;
}



.nav_list {
display: flex;
flex-direction: row;
gap: 50px;
list-style-type: none;
position: relative;
}

.nav_list li {
position: relative;
animation: fadeInUp 1s ease-out;
transform-origin: 0.5s inline;
}

.nav_list li a {
text-decoration: none;
color: #ffffff;
transition: color 0.3s ease;
font-size: 16px;
}

.nav_list li a:hover {
  color: rgb(4, 103, 240);
}

.nav_list li:hover::after {
  background-color: rgb(15, 195, 240);
}

.dropdown_menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #35363787;
  padding: 10px 0;
  list-style: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  min-width: 150px;
  transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown_menu li {
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdown_menu li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: color 0.3s, font-size 0.2s;
  font-size: 14px;
}

.dropdown_menu li a:hover {
  color: rgb(4, 103, 240);
  font-size: 16px;
}

.dropdown:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
}


.new_button {
  background-color: rgb(105, 104, 104);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.new_button:hover {
  background-color: rgb(8, 181, 224);
  color: black;
  transform: scale(1.05);
}

/* From Uiverse.io by talhabangyal */ 
.hamburger {
display: none;
cursor: pointer;
margin-right: 15vw;
}

.hamburger input {
display: none;
}

.hamburger svg {
/* The size of the SVG defines the overall size */
height: 3em;
/* Define the transition for transforming the SVG */
transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
fill: none;
stroke: white;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 3;
/* Define the transition for transforming the Stroke */
transition:
  stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
stroke-dasharray: 20 300;
stroke-dashoffset: -32.42;
}

@keyframes moveText {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

    .moriah_section {
      display: flex;
      width: 100%;
      height: 100vh;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      animation: fadeIn 1.5s ease-in-out;
    } 

    .moriah_video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; /* En lugar de -1000 */
      opacity: 0.5;
    }
    
    .moriah_content {
      position: absolute;  /* Asegúrate de que sea absolute o relative */
      top: 50%;  /* Ajusta la posición */
      left: 50%;  /* Ajusta la posición */
      transform: translate(-50%, -50%);  /* Centra el contenido */
      z-index: 1;  /* Este debe ser más alto que el video */
      color: white;
      text-align: center;
    }
    
    
    .moriah_title {
        font-size: 4rem;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
    }
    .moriah_span {
        font-size: 4rem;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
    }
    .btn_visit {
      background-color: rgb(105, 104, 104);
      border: none;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .btn_visit:hover {
        background-color: rgb(12, 170, 209); 
        padding: 18px 45px;
    }


.main_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.sectionOne {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-container {
  display: inline-block;
}

.scroll-container video {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.sectionOne h2,
.sectionOne h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.sectionOne h1 {
    top: 60%;
    font-size: 3rem;
    margin-top: 5vh;
}


.vision_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 1500px;
    margin: 2rem auto;
    padding: 1rem;
}

.vision_text {
    max-width: 50%;
}

.vision_text h3 {
    color: gray;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.vision_text h2 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.vision_text p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.visit_button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.visit_button:hover {
    background-color: #333;
}


.vision_video iframe {
    margin-right: 10vw;
    width: 100%;
    height: 315px;
    border-radius: 10px;
}


.team-section {
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #000000;
  }
  
  .team-section h2 {
    color: #a6a6a6;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .team-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
  }
  
  .team-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    width: 90%;
    margin-left: 5vw;
  }
  
  .image-container img {
    border-radius: 10px;
    max-width: 300px;
  }
  
  .member-info {
    max-width: 500px;
    text-align: left;
  }
  
  .member-info h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5vh;
    color: white;
  }
  
  .member-info h4 {
    font-size: 1rem;
    color: #f8c24a;
    margin-bottom: 1rem;
  }
  
  .member-info p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: white;
  }
  
  .social-links a img {
    width: 30px;
    margin-right: 1rem;
    transition: transform 0.2s;
  }
  
  .social-links a img:hover {
    transform: scale(1.2);
  }

  
  .leadership-section {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    text-align: flex-start;
    width: 100%;
    padding: 20px;
    flex-direction: row;
  }
  
  .section-subtitle {
    color: #a6a6a6;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
 
  .leader-profile {
    display: flex;
    padding: 5rem;
    flex-wrap: wrap; /* Para adaptarse en pantallas pequeñas */
  }
  
  .leader-image img {
    border-radius: 10px;
    max-width: 500px;
    margin-right: 5rem;
  }
  
  .leader-details {
    max-width: 500px;
    text-align: left;
  }
  
  .leader-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5vh;
    color: white;
  }
  
  .leader-role {
    font-size: 1rem;
    color: #f8c24a;
    margin-bottom: 1rem;
  }
  
  .leader-description {
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: white;
  }
  
  .leader-social-links a img {
    width: 30px;
    margin-right: 1rem;
    transition: transform 0.2s;
  }
  
  .leader-social-links a img:hover {
    transform: scale(1.2);
  }



  .ministeriosA {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background-color: #000;
    width: 100%;
  }

  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin-left: 7vw;
}

  .contenido h2 {
    text-transform: lowercase;
    font-size: 2.5rem;
    color: white;
    border-bottom: 4px solid #00cec9;
    display: inline-block;
    margin-bottom: 1rem;
  }

  .contenido p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 1.5rem;
  }

  .btn-contactar {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .btn-contactar:hover {
    background-color: #00cec9;
    color: #fff;
  }

  .lista-ancianos {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .lista-ancianos li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .iglesia {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #000;
    width: 100%;
  }
  
  .contenido-iglesia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 5vh;
  }
  
  .contenido-izquierda {
    flex: 1;
    padding: 20px;
  }
  
  .contenido-derecha {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .contenido-derecha img {
    max-width: 100%;
    height: auto;
  }
  
  .nombre-lider {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  .descripcion-lider {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
    color: white;
  }
  
  .enlaces-sociales-lider a {
    margin-right: 10px;
    color: white;
  }
  
  .enlaces-sociales-lider img {
    width: 24px;
    height: 24px;
  }
  
  


  .ministerios {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    
  }

  .ministerios h2 {
    color: rgb(255, 255, 255) ;
    font-size: 2rem;
    margin-top: 3vh;
  }

  .ministerios h1 {
    color: gray;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }


  .content_ministerios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    padding-bottom: 5vh;
    gap: 50px;
  }

  /* From Uiverse.io by Saad3092003 */ 
.one-div {
  position: relative;
  height: 250px;
  width: 200px;
  background-color: rgb(15, 15, 15);
  transform-style: preserve-3d;
  animation: rot 2s infinite ease;
  border-radius: 20px;
  box-shadow: 0 0 50px 0px, inset 0 0 90px 0px;
  color: white;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-div .text {
  opacity: 0;
  transition: all 0.5s;
}

.one-div:hover.one-div .text {
  scale: 1.2;
  opacity: 0.7;
}

.one-div:hover {
  box-shadow: 0 0 50px 0px, inset 5px 5px 20px 0px black;
}

@keyframes rot {
  0% {
    transform: rotateX(-15deg) translateY(0px);
  }

  50% {
    transform: rotateX(-15deg) translateY(-10px);
  }

  100% {
    transform: rotateX(-15deg) translateY(0px);
  }
}

  
  @media (max-width: 1024px) {
    
     .main_about {
        padding: 5px;
      }
    
    .sectionOne {
      position: relative;
      width: 100%;
      overflow: hidden;
  }

    .sectionOne h1{
      font-size: 1rem;
    }

    .sectionOne h2{
      font-size: 2rem;
      padding-bottom: 55px;
    }

    .vision_section{
      /* background-color: orange; */
      display: flex;
      flex-direction: column;
    }
    .vision_text{
      max-width: 90%;
    }
    .team-section{
      /* background-color: blueviolet; */
      display: flex;
      flex-direction: column;
    }
    .team-member {
      display: flex;
      flex-direction: column;
      width: 100%;

    }
    .leadership-section{
      /* background-color: green; */
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .leader-details {
      /* background-color: red; */
      min-width: 300px;
      margin-left: -55px;
    }

    .ministerios {
      flex-direction: column;
      width: 100%;
      /* background-color: blue; */
    }
    .iglesia {
      /* background-color: purple; */
      display: flex;
      flex-direction: column;
    }
    .contenido-iglesia{
      display: flex;
      flex-direction: column;
    }
    .content_ministerios{
      width: 100%;
      display: flex;
      flex-direction: column;
      /* background-color: red; */
    }

    
  }
    
  @media (max-width: 768px) {
    .header {
      position: relative;
      padding:10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; 
      text-align: center;
      width: 100%;
      z-index: 9999;
    }
    
    .header img {
      max-height: 120px; 
    }
    
    .header-content {
      position: absolute;
      top: 0;
      margin-top: 10px;
      margin-left: 75px;
      left: 0;
      width: 40%;
      padding: 10px;
      text-align: center;
    }
    .header-content h1, p{
      text-align:flex-start;
    }
    .nav_Moriah {
      position: relative;  /* Asegura que el z-index funcione */
      z-index: 9999;  /* El número más alto para asegurarse de que esté en la parte superior */
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.9);
      padding: 50px;
      transition: all 0.3s ease-in-out;
    }
    
      
      .nav_Moriah.open {
        display: flex;
      }
      
      .hamburger {
        display: block;
        transform: translatex(150px);
      }
      .nav_list {
        flex-direction: column;
      }
      
      .nav_list li {
        text-align: center;
        margin-top: -10px;
      }
      .dropdown_menu {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        
      }
      .dropdown_menu:before {
        transition: 0.5s linear;
      }
      .dropdown:hover .dropdown_menu {
        display: block;
      }
      .leader-profile {
        flex-direction: column; /* Apila la imagen y el contenido en pantallas pequeñas */
      }
  
      .leader-image img {
        max-width: 100%;
      }
      .main_about {
        /* background-color: red; */
        padding: 5px;
      }
    
    .sectionOne {
      position: relative;
      width: 100%;
      overflow: hidden;
  }

    .sectionOne h1{
      font-size: 1rem;
    }

    .sectionOne h2{
      font-size: 2rem;
      padding-bottom: 55px;
    }

    .vision_section{
      /* background-color: orange; */
      display: flex;
      flex-direction: column;
    }
    .vision_text{
      max-width: 90%;
    }
    .team-section{
      /* background-color: blueviolet; */
      display: flex;
      flex-direction: column;
    }
    .team-member {
      display: flex;
      flex-direction: column;
      width: 100%;

    }
    .leadership-section{
      /* background-color: green; */
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .leader-details {
      /* background-color: red; */
      min-width: 300px;
      margin-left: -55px;
    }

    .ministerios {
      flex-direction: column;
      width: 100%;
      /* background-color: blue; */
    }
    .iglesia {
      /* background-color: purple; */
      display: flex;
      flex-direction: column;
    }
    .contenido-iglesia{
      display: flex;
      flex-direction: column;
    }
    .content_ministerios{
      width: 100%;
      display: flex;
      flex-direction: column;
      /* background-color: red; */
    }

    
  }

