@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
font-family: "Red Hat Mono", serif;
font-style: normal;    
width: 100%;
flex-wrap: wrap;

}

.header {
  padding: 10px;
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  width: 100%;
  flex-wrap: wrap;

}


.header-content {
  display: flex;
  flex-direction: column;
  left: 0;
  margin-right: 10vw;
}

.header img {
  width: 80px;
}

.header h1, .header p {
color: #ffffff;
margin: 0;
}

.nav_Moriah {
display: flex;
align-items: center;
gap: 50px;
}

.nav_list {
display: flex;
flex-direction: row;
gap: 50px;
list-style-type: none;
position: relative;
}

.nav_list li {
position: relative;
animation: fadeInUp 1s ease-out;
transform-origin: 0.5s inline;
}

.nav_list li a {
text-decoration: none;
color: #ffffff;
transition: color 0.3s ease;
font-size: 16px;
}

.nav_list li a:hover {
  color: rgb(4, 103, 240);
}

.nav_list li:hover::after {
  background-color: rgb(15, 195, 240);
}

.dropdown_menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #35363787;
  padding: 10px 0;
  list-style: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  min-width: 150px;
  transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown_menu li {
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdown_menu li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: color 0.3s, font-size 0.2s;
  font-size: 14px;
}

.dropdown_menu li a:hover {
  color: rgb(4, 103, 240);
  font-size: 16px;
}

.dropdown:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
}


.new_button {
  background-color: rgb(105, 104, 104);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.new_button:hover {
  background-color: rgb(8, 181, 224);
  color: black;
  transform: scale(1.05);
}

/* From Uiverse.io by talhabangyal */ 
.hamburger {
display: none;
cursor: pointer;
margin-right: 15vw;
}

.hamburger input {
display: none;
}

.hamburger svg {
/* The size of the SVG defines the overall size */
height: 3em;
/* Define the transition for transforming the SVG */
transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
fill: none;
stroke: white;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 3;
/* Define the transition for transforming the Stroke */
transition:
  stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
stroke-dasharray: 20 300;
stroke-dashoffset: -32.42;
}

/* Animación para hacer un ligero movimiento */
@keyframes moveText {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.ministerio {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.contenido {
  flex: 1;
  padding: 20px;
}

.contenido h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.contenido p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}


.containerinfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  width: 650px;
  height: 270px;
  background: repeating-linear-gradient(
      45deg,
      #ddd,
      #ddd 10px,
      #f5f5f5 10px,
      #f5f5f5 20px
  );
  border-radius: 12px;
}



h2 {
  font-size: 24px;
  color: #222;
}

p {
  font-size: 16px;
  color: #666;
  margin: 0px 0 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.black {
  background: black;
  color: white;
}

.gray {
  background: #ddd;
  color: black;
}

.contentform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 50px;
}

.title {
  text-align: center;
  margin-left: -220px;
  font-size: 36px;
  font-weight: bold;
}



.formulario {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  position: relative;
  width: 800px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #25D366;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #25D366;
}

#whatsappForm {
  display: flex;
  width: 900px;
  height: auto;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  background-color: #171717;
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin-bottom: 1.5em;
  color: #25D366;
  font-size: 1.5em;
}

.form-field {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  padding: 1em;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: #25D366;
  font-weight: bold;
  outline: 1px solid #25D366;
  transition: all 0.3s ease-in-out;
}

.sendMessage-btn:hover {
  background-color: #25D366;
  color: #000;
  box-shadow: inset 2px 5px 10px rgb(1, 255, 196);
}

.form-card1 {
  background-image: linear-gradient(163deg, #25D366 0%, #25D366 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 30px 300px 1px rgb(1, 255, 196);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}



@media screen and (max-width:768px) {
  .header {
    height: 100px;
  }

  .header img {
    max-height: 120px;
    margin-left: -300px;
    position: relative;
  }

  .header-content {
    position: absolute;
    top: 0;
    margin-top: 1px;
    transform: translate( 20px, -5px);
    margin-left: 75px;
    left: 0;
    width: 40%;
    padding: 0px;
    text-align: center;
  }
  .header-content h1,
  p {
    text-align: flex-start;
  }

  .nav_Moriah {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 50px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  .nav_Moriah.open {
    display: flex;
  }

  .hamburger {
    display: block;
    margin-left: 70vw;
    margin-top: -80px;

  }
  .nav_list {
    flex-direction: column;
    gap: 50px;
  }

  .nav_list li {
    text-align: center;
  }
  .dropdown_menu {
    position: relative;
    background-color: transparent;
    box-shadow: none;
  }
  .dropdown_menu:before {
    transition: 0.5s linear;
  }
  .dropdown:hover .dropdown_menu {
    display: block;
  }
  .main_visitanos {
    height: auto;
    padding: 40px 20px;
  }
  
  
  .card{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .image{
    width: 90%;
    
  }
  .contentform  h1{
    /* color: red; */
    width: 100%;
    padding-bottom: 5vh;
  }
  .title {
    display: flex;
    margin-left: 2vw;
    text-align: center;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .form-container {
    position: relative;
    width: 340px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #whatsappForm {
    display: flex;
    width: 340px;
    height: auto;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    background-color: #171717;
    border-radius: 20px;
  }

}

@media (max-width: 568px) {
  .header {
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    text-align: center;
    width: 100%;
  }
  
  .header img {
    width: 70px;
    transform: translateX(20px);
    height: auto; 
  }
  
  .header-content {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 75px;
    left: 0;
    width: 40%;
    padding: 0px;
    text-align: center;
  }
  .header-content h1, p{
    text-align:flex-start;
  }

  .nav_Moriah {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.9);
      padding: 50px;
      transition: all 0.3s ease-in-out;
      z-index: 1000;
    }
    .nav_Moriah.open {
      display: flex;
    }
  
    .hamburger {
      display: block;
      transform: translatex(40px);
    }
    .nav_list {
      flex-direction: column;
      gap: 50px;
    }
  
    .nav_list li {
      text-align: center;
    }
    .dropdown_menu {
      position: relative;
      background-color: transparent;
      box-shadow: none;
      
    }
    .dropdown_menu:before {
      transition: 0.5s linear;
    }
    .dropdown:hover .dropdown_menu {
      display: block;
    }
    
}


@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .nav_Moriah {
    flex-direction: column;
    gap: 15px;
  }
  .container {
    padding: 20px;
  }
}


