<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="module" src="../static/js/app.js"></script>
    <title>Moriah</title>
</head>
<body>
    <header class="header">
        <img src="https://seeklogo.com/images/I/iglesia-cristiana-cuadrangular-logo-75048769EF-seeklogo.com.png" alt="Logo Moriah">
        <div class="header-content">
            <h1>MORIAH</h1>
            <p>sacrificio de adoración</p>
        </div>
        <nav class="nav_Moriah">
            <ul class="nav_list">
                <li><a href="#">Acerca nosotros</a></li>
                <li><a href="#">Conectar</a></li>
                <li><a href="#">Próximos pasos</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Servicios</a></li>
            </ul>
            <button class="new_button">¿Eres nuevo?</button>
        </nav>
    </header>
    
    <section class="moriah_section">
        <video class="moriah_video" src="ruta-del-video.mp4" autoplay muted loop playsinline></video>
        <h1 class="moriah_title">Moriah</h1>
        <button class="btn_visit">Conócenos</button>
    </section>
    <main class="main">
        <div class="contact_me">
            <h1>¡unase a <br>nosotros en la <br> iglesia estos días! <br></h1>
            <h2>horarios de servicios</h2>
            <h3>Martes 7:00 pm, Domingo 9:00 am</h3>
            <button class="btn_contact_me">Planifique su vista </button>
        </div>

        <div class="about_me">
            <h1>Moriah</h1>
            <h2>un lugar de sacrificio de adoración</h2>
            <p>informacion de la iglesia..........</p>
            <button class="btn_about_Me">Sobre nosotros</button>
        </div>

        <div class="servidores">
            <h1>Nuestros Servidores y lideres</h1>
        </div>

        <div class="proximos_pasos">
            <img src="" alt="">
            <h1>El cambio de  <br> vida comienza  <br> con el siguiente <br> paso</h1>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quas deleniti consequatur libero quisquam aperiam neque blanditiis, reprehenderit nobis quia praesentium dolor, mollitia necessitatibus saepe at? Doloribus perspiciatis esse quaerat!</p>

        </div>
        <div class="eventos">
            <h1>Eventos próximos</h1>
            <img src="" alt="">
            <h1>esto es lo que sucederá en los próximos dias </h1>
            <button class="btn_eventos">Próximos eventos</button>
        </div>
    </main>
    <footer class="footer">

        <p>Todos los derechos reservados 2021</p>
    </footer>
</body>
</html>