<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alabanza</title>
    <link rel="stylesheet" href="../css/Alabanza.css">
    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script type="module" src="../js/Alabanza.js"></script>
</head>
<body>
    <header class="header" data-aos="fade-down">
        <a href="../index.html">
            <img src="https://seeklogo.com/images/I/iglesia-cristiana-cuadrangular-logo-75048769EF-seeklogo.com.png" alt="Logo Moriah">
        </a>
        
        <div class="header-content">
            <h1>MORIAH</h1>
            <p>sacrificio de adoración</p>
        </div>
    
        <!-- Menú hamburguesa -->
        <div class="hamburger" id="menu-btn">
            <input type="checkbox" id="menu-toggle">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </div>
    
    
        <!-- Menú de navegación -->
        <nav class="nav_Moriah" id="navMoriah">
            <ul class="nav_list">
                <li><a href="./views/visitanos.html">Visítanos</a></li>
                <li><a href="./views/about.html">Acerca de nosotros</a></li>
                <li><a href="./views/intersecion.html">Peticiones</a></li>
                <li class="dropdown">
                    <a href="#">Ministerios</a>
                    <ul class="dropdown_menu">
                        <li><a href="../views/jovenes.html">Jóvenes</a></li>
                        <li><a href="../views/alabanza.html">Alabanza</a></li>
                        <li><a href="../views/intersecion.html">Intercesión</a></li>
                        <li><a href="#">Diáconos</a></li>
                        <li><a href="#">Infantil</a></li>
                    </ul>
                </li>
                <li><a href="#">Próximos pasos</a></li>
            </ul>
            <button class="new_button">¿Eres nuevo?</button>
        </nav>
    
        <!-- Overlay para cerrar el menú -->
        <div class="overlay" id="menu-overlay"></div>
    </header>
    <div id="app">
        <div class="hero">
          <h1 class="titulo_banner">Moriah</h1>
          <h2 class="titulo_banner2">Alabanza</h2>
        </div>
        <div class="buttons">
          <button type="button" id="colors-btn"  class="buttonalabanza">
            Presiona para cambiar de color
          </button>
        </div>
        <canvas id="webgl-canvas"></canvas>
    </div>
        <!-- main -->
    <main class="main">
        <!-- seccion 2 -->
        <section class="profileDayana" data-aos="fade-right"  data-aos-duration="800" 
        data-aos-delay="100">
        
            <div class="new-arrivals-container">
                <div class="image-content">
                    <img src="" alt="LEONARDO" />
                </div>
            <div class="text-content">
                <h2>JHON</h2>
                <h3>.....</h3>
                <a href="../views/jhon.html" class="btn-go-shopping">toda mi info</a>
            </div>
            
            </div>
        </section>
        
        <section class="profileDayana" data-aos="fade-right"  data-aos-duration="800" 
        data-aos-delay="100">
            <div class="new-arrivals-container">
            <div class="text-content">
                <h2>DAYANA</h2>
                <h3>MERLO</h3>
                <a href="../views/dayana.html" class="btn-go-shopping">toda mi info</a>
            </div>
            <div class="image-content">
                <img src="" alt="dayana merlo" />
            </div>
            </div>
        </section>
        

        <section class="profileDayana" data-aos="fade-right"  data-aos-duration="800" 
        data-aos-delay="100">
            <div class="new-arrivals-container">
                <div class="image-content">
                    <img src="" alt="LEONARDO" />
                </div>
            <div class="text-content">
                <h2>LEONARDO</h2>
                <h3>.....</h3>
                <a href="../views/leonardo.html" class="btn-go-shopping">toda mi info</a>
            </div>
            
            </div>
        </section>

        
        <section class="profileDayana" data-aos="fade-left">
            <div class="new-arrivals-container">
            <div class="text-content">
                <h2>DAVID</h2>
                <h3>FERNANDO</h3>
                <a href="../views/david.html" class="btn-go-shopping">toda mi info</a>
            </div>
            <div class="image-content">
                <img src="" alt="dayana merlo" />
            </div>
            </div>
        </section>
        

        <section class="profileDayana" data-aos="fade-right"  data-aos-duration="800" 
        data-aos-delay="100">
            <div class="new-arrivals-container">
                <div class="image-content">
                    <img src="" alt="LEONARDO" />
                </div>
            <div class="text-content">
                <h2>OMAR</h2>
                <h3>ALEJANDRO</h3>
                <a href="../views/omar.html" class="btn-go-shopping">toda mi info</a>
            </div>
            </div>
        </section>

        <section class="profileDayana" data-aos="fade-left">
            <div class="new-arrivals-container">
            <div class="text-content">
                <h2>CHECHE</h2>
                <h3>...</h3>
                <a href="../views/cheche.html" class="btn-go-shopping">toda mi info</a>
            </div>
            <div class="image-content">
                <img src="" alt="dayana merlo" />
            </div>
            </div>
        </section>
        

        <section class="profileDayana" data-aos="fade-right"  data-aos-duration="900" 
        data-aos-delay="100">
            <div class="new-arrivals-container">
                <div class="image-content">
                    <img src="" alt="LEONARDO" />
                </div>
            <div class="text-content">
                <h2>WILLIAM</h2>
                <h3>SEPULVEDA</h3>
                <a href="../views/will.html" class="btn-go-shopping">toda mi info</a>
            </div>
            </div>
        </section>

        <section class="profileDayana" data-aos="fade-left">
            <div class="new-arrivals-container">
            <div class="text-content">
                <h2>DUVAN</h2>
                <h3>MERLO</h3>
                <a href="../views/duvan.html" class="btn-go-shopping">toda mi info</a>
            </div>
            <div class="image-content">
                <img src="" alt="dayana merlo" />
            </div>
            </div>
        </section>
        

        </section>
    </main>
    <!-- AOS JS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>