<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/diaconos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>    
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../js/diaconos.js"></script>
    <title>Diáconos</title>
</head>
<body>
    <header class="header" data-aos="fade-down">
        <a href="../index.html">
            <img src="https://seeklogo.com/images/I/iglesia-cristiana-cuadrangular-logo-75048769EF-seeklogo.com.png" alt="Logo Moriah">
        </a>
        
        <div class="header-content">
            <h1>MORIAH</h1>
            <p>sacrificio de adoración</p>
        </div>
    
        <!-- Menú hamburguesa -->
        <div class="hamburger" id="menu-btn">
            <input type="checkbox" id="menu-toggle">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </div>
    
    
        <!-- Menú de navegación -->
        <nav class="nav_Moriah" id="navMoriah">
            <ul class="nav_list">
            <li><a href="../views/visitanos.html">Visítanos</a></li>
            <li><a href="../views/about.html">Acerca de nosotros</a></li>
            <li><a href="../views/intersecion.html">Peticiones</a></li>
            <li class="dropdown">
                <a href="#">Ministerios</a>
                <ul class="dropdown_menu">
                    <li><a href="../views/jovenes.html">Jóvenes</a></li>
                    <li><a href="../views/alabanza.html">Alabanza</a></li>
                    <li><a href="../views/intersecion.html">Intercesión</a></li>
                    <li><a href="../views/Diaconos.html">Diáconos</a></li>
                    <li><a href="../views/infantil.html">Infantil</a></li>
                </ul>
            </li>
            <li><a href="../views/proximospasos.html">Próximos pasos</a></li>
        </ul>
            <button class="new_button">¿Eres nuevo?</button>
        </nav>
    
        <!-- Overlay para cerrar el menú -->
        <div class="overlay" id="menu-overlay"></div>
    </header>

    <div class="container">
        <div class="text-section">
            <div class="logo">🔵 MORIAH</div>
            <h1>MINISTERIO DE DIÁCONOS</h1>
            <p>Un ministerio dedicado a dar la mejor actitud por los que llegan a nuestro hogar…</p>
        </div>
        <div class="image-section">
            <video autoplay loop muted>
                <source src="../storage/0_Abstract_Digital Art_3840x2160.mp4" type="video/mp4">
                Tu navegador no soporta videos.
            </video>
        </div>
    </div>

    <section class="container">
       
        <div class="image-section">
            <img src="" alt="grupo de diaconos">
        </div>
        <div class="text-section">
            <div class="logo">🔵 MORIAH</div>
            <h1>MINISTERIO DE DIÁCONOS</h1>
            <p>Un ministerio dedicado a dar la mejor actitud por los que llegan a nuestro hogar…</p>
        </div>
    </section>

    <section class="container">  
        <div class="text-section">
            <div class="logo">🔵 MORIAH</div>
            <h1>Lider de ministerio</h1>
            <p>soy cecilia una mujer dedicada al servicio de diaconado, mi amor y entrega por los caminos de mi señor me ha llevado a tener este privilegio de ser la lider de la portada de la iglesia de mi señor
            haciendo de esta labor mi vocación con amor para mi padre y creador 
                …</p>
        </div>
        <div class="image-section">
            <img src="" alt="hermana cecilia">
        </div>
    </section>
    
    <!-- seccion de integrantes -->
     <div class="titulo">
         <h1>integrantes </h1>
     </div>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/KYPG5YD5/profile1.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Alanna Dell</h2>
                        <p class="description">She likes pancakes served with maple syrup, fresh fruit, or whipped cream</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/mg0qgNMd/profile2.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Alan Doe</h2>
                        <p class="description">She likes layers of yogurt, granola, and fresh berries</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/rsnZXSMN/profile3.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Jordan Lee</h2>
                        <p class="description">He likes a thick smoothie topped with granola, seeds, and fresh fruit</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/wv9w1WBk/profile4.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Adam Murphy</h2>
                        <p class="description">He likes scrambled eggs, crispy bacon, and toast</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/bYtT9DGn/profile5.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Billy Henry</h2>
                        <p class="description">He likes tortilla filled with scrambled eggs, cheese, beans, and salsa</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/7Zxn4KK1/profile6.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Jessica Miller</h2>
                        <p class="description">She likes oatmeal topped with fruits, nuts, or honey for added flavor</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/5tQYWvWq/profile7.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Daniel Lewis</h2>
                        <p class="description">He likes poached eggs in an English muffin with ham and hollandaise sauce</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/Hkydptjx/profile8.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Emily Rock</h2>
                        <p class="description">She likes chia seeds soaked in milk and topped with fruits</p>

                        <button class="button">View More</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="https://i.postimg.cc/4xVRCNFH/profile9.jpg" alt="image" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">John Doe</h2>
                        <p class="description">He likes bread with eggs and milk, fried with syrup and powdered sugar</p>

                        <button class="button">View More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

</body>
</html>